.blackButtons {
    background-color: black;
    padding: 15px 50px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    font-family: var(--main-fonts-poppins);
    cursor: pointer;
    border: solid 2px black;
}
.blackButtons:hover {
    color: black;
    background-color: white;
    border: solid 2px black;
}
.background_color:hover {
    background-color: #FFF7F4;
}
.see_new_product {
    background-color: #FB9873;
    color: black;
    border: solid 2px #FFFFFF;
    border-radius: 40px;
    padding: 10px 40px;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family: var(--main-fonts-poppins);
    font-size: 16px;
    line-height: 30px;
}
.see_new_product:hover {
    border: solid 2px #000000;
    background-color: #FFF7F3;
}
.add_product_in_basket {
    background-color: transparent;
    border: solid 2px #000000;
    color: black;
}
.add_product_in_basket:hover {
    color: white;
    background-color: black;
    border: solid 2px white;
}
.see_more_button {
    display: table;
    margin: 150px auto;
    border: solid 2px white;
}
.see_more_button:hover {
    border: solid 2px black;
}