.navigation {
    padding: 36px 0 50px 0;
}
.navigation, .tex_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navigation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #FFF7F5;
    z-index: -1;
}
.basket {
    background-color: black;
    border-radius: 100%;
    padding: 10px;
    overflow: hidden;
}
.basket::before {
    content: "2";
    background-color: #FB9873;
    border-radius: 100%;
    font-family: var(--main-fonts-poppins);
    color: white;
}
.parrent_basket {
    position: relative;
    display: flex;
    align-items: center;
}
.wrapp_basket {
    position: relative;
    cursor: pointer;
}
.menu {
    margin-left: 60px;
}
.number_product {
    position: absolute;
    top: -7px;
    right: -5px;
    background-color: #FB9873;
    border-radius: 100%;
    width: 19px;
    font-size: 13px;
    font-family: var(--main-fonts-poppins);
    text-align: center;
    display: none;
}
.tex_nav {
    margin-left: -80px;
}
.tex_nav > p {
    margin-left: 80px;
    position: relative;
    cursor: pointer;
}
.tex_nav > p::before {
    content: ' ';
    position: absolute;
    width: 0%;
    height: 1.5px;
    left: 0;
    bottom: -3px;
    background-color: black;
    transition: all .3s ease-in-out;
}
.tex_nav > p:hover::before {
    width: 100%;
}
.product_in_cart {
    width: 500px;
    background-color: white;
    position: absolute;
    right: 50%;
    border-radius: 5px;
    margin-top: 50px;
    display: grid;
    grid-auto-rows: auto;
    top: 0;
    z-index: 9;
}
.product_unit_visible {
    display: none;
}
.item_product {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center
}
.item_product_dell {
    display: none;
}
.item_product > p {
    margin: 0 20px;
}
.width_product_in_busket {
    width: 55px;
}
.button_dell_product {
    width: 20px;
    cursor: pointer;
}
.basket_plug {
    width: 500px;
    background-color: white;
    position: absolute;
    right: 50%;
    border-radius: 5px;
    margin-top: 50px;
    display: block;
    top: 0;
}
.basket_plug > img {
    text-align: center;
    margin: 0 auto;
    display: block;
    opacity: .3;
    width: 120px;
}
.basket_plug > p {
    width: 500px;
    font-family: var(--main-fonts-poppins);
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 20px 25px 20px;
    opacity: .3;
    font-size: 14px;
}
.meny {
    position: relative;
    cursor: pointer;
}
.rotate_burger_meny {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}
.rotate_burger_meny_end {
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}
.toogle_visib_empty_basket {
    display: none;
}
.slide-element {
    height: 0;
    width: 150px;
    overflow: hidden;
    transition: height .3s ease-in-out;
    position: absolute;
    background-color: white;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 30px;
    border-radius: 15px;
}

.slide-element.visible {
    height: 120px;
    width: 150px;
    text-align: center;
    background-color: white;
    position: absolute;
    transition: height .3s ease-in-out;

}
.slide-element > a {
    padding-top: 15px;
    display: block;
    text-decoration: none;
    color: black;
    transition: color .3s ease-in-out;
}
.slide-element > a:hover {
    color: #FA6430;
}
