#margin_product_card {
    margin-top: 100px;
}
.wrapp_product_card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: -50px;
}
.product_items {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-right: 50px;
}
.product_items > img {
    width: 100%;
}
.product_items > h5 {
    font-family: var(--main-fonts-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 54px;
    margin: 20px 0 10px 0;
}
.product_items > p:nth-child(3) {
    font-family: var(--main-fonts-poppins);
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #6A6A6A;
    margin: 0 0 20px 0;
}
.product_items > p:nth-child(4) {
    font-family: var(--main-fonts-poppins);
    font-size: 20px;
    line-height: 229%;
    text-align: center;
    color: #FA6430;
    margin-bottom: 25px;
}